Hopefully, Jupyter has been installed. Let the speedrunning commence!

P.S.: This is a self-contained lesson and a do-along exercise (as well as all the exercises in the future), so perform this on a separate notebook as you go. Submit the notebook afterwards (tmayeng@hnu.edu.ph).

# Basics

<hr style="height:2px">

This is a Markdown cell, *containing text*.

In [1]:
# this is a code cell, which contains code
# this btw is a comment
# print() below is a function, and within print() is a value that is to be printed
# press Ctrl + Enter or Alt + Enter to run cells or display markdown cells
print('Hello world')
print("I'm enrolled in a stats class.")
print(123 + 456)

Hello world
I'm enrolled in a stats class.
579

<br><br>

## Variables

Variables are a way to store data (think of a box storing something -- the box is the variable, and the contents inside are the data). Data are stored in variables so they can be used later.

In [2]:
# variables are declared using the assignment operator =
power_level = 9000
print(power_level)

9000

In [3]:
# an example of how a variable can be used
power_level = power_level + 1000
print(power_level)

10000

In [4]:
# another example:
def meme(measured_power_level):
    if measured_power_level > 9000:
        print("It's over 9000!!")
    else:
        print("Nah, I'd win!")

# the variable is used here as the argument for the function meme()
meme(power_level)

It's over 9000!!

<br><br>

## Python data types

There are built-in data types and structures within Python, as well as those coming from packages/libraries.

### Numeric data types

Numbers, obviously, which can usually either be integers (or "int"), which are whole numbers and floats, numbers with decimal point.

In [5]:
print(1)
print(type(1))
# type() function prints the type of data

1
<class 'int'>

In [6]:
print(1.0)
print(type(1.0))

1.0
<class 'float'>

In [7]:
# sometimes, weird things happen to floats, but as long as the math is okay, it's okay too
0.2 + 0.1

0.30000000000000004

### Sequence types

This involve a sequence, or a collection, of data. These commonly strings, lists and tuples.

### Strings

In [8]:
# strings are a sequence of characters, bounded by either "" or ''
print('Hi, my name is...')

Hi, my name is...

In [9]:
# data types and structures have attributes and methods
# rather than focus on actual definitions, think of attributes as "properties" of a Python object
# and methods as something that Python objects "can do"
# almost all things in Python is an object

# in this example, let's try string methods
# this method (.upper()) sets all the characters in the string to uppercase
"domain expansion: self-embodiment of perfection".upper()

'DOMAIN EXPANSION: SELF-EMBODIMENT OF PERFECTION'

In [10]:
# or title case via .title()
"moe moe kyun".title()

'Moe Moe Kyun'

In [11]:
# all this of course is applicable to strings stored as variables
expression = "shinzou wo sasageyo"
print(expression.upper())

SHINZOU WO SASAGEYO

In [12]:
# to get length of a string
print(len(expression))  # this includes the spaces, btw

19

A special kind of string are f-strings, where values of a variable can be inserted in a string.

In [1]:
cursed_spirits = 4000
csm = f"Geto has around {cursed_spirits} cursed spirits."
print(csm)
cursed_spirits += 100
print(f'Geto has around {cursed_spirits} cursed spirits.')

Geto has around 4000 cursed spirits.
Geto has around 4100 cursed spirits.

### Lists

Lists are an ordered collection of data (could be numerics, strings, another list, Booleans (see later), etc..) bounded by `[]`.

In [14]:
single_word_albums = ['Continuum', 'Sunbather', 'Damnation', 'Agony', 'Quattro', 'Vagarosa', 'Unavailable', 'Heritage']
numbers = [1,2,789,3.1415,667,100]
bools = [True, False, True, True, False]
weird = ['Malevolent Shrine', True, 123.456789, ['Makima', 'Miss Kobayashi']]

Lists are ordered, and thus, its individual elements can be accessed via something called indexing.

In [15]:
# this is the syntax
# Python uses zero-based indexing, so the first element is 0
single_word_albums[0]  # should be Continuum

# more on indexing later

'Continuum'

In [16]:
# to determine the length of a list
len(single_word_albums)

8

In [17]:
# I want to add a 9th album to the list albums
# do that via the .append() method
print(single_word_albums)
single_word_albums.append('Scenery')
print(single_word_albums)

['Continuum', 'Sunbather', 'Damnation', 'Agony', 'Quattro', 'Vagarosa', 'Unavailable', 'Heritage']
['Continuum', 'Sunbather', 'Damnation', 'Agony', 'Quattro', 'Vagarosa', 'Unavailable', 'Heritage', 'Scenery']

In [18]:
# I wanna add more
# append() can only accept one addition at a time
# in this case, I'll use list concatenation, basically, "adding" 2 lists
print(single_word_albums)
single_word_albums = single_word_albums + ['Midian', 'Help!']
print(single_word_albums)

['Continuum', 'Sunbather', 'Damnation', 'Agony', 'Quattro', 'Vagarosa', 'Unavailable', 'Heritage', 'Scenery']
['Continuum', 'Sunbather', 'Damnation', 'Agony', 'Quattro', 'Vagarosa', 'Unavailable', 'Heritage', 'Scenery', 'Midian', 'Help!']

A list of numbers can also be generated via a range.

In [19]:
range(1,10)

range(1, 10)

In [20]:
# turn that to a list
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
# in range(1,10), all numbers from 1 to 10 are included, excluding 10
# thus to generate 1-10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
# by default, the gap between one range member and the next (called a "step") is one, but this can be changed by adding a third number in the arguments for range
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
list(range(1,50,7))

[1, 8, 15, 22, 29, 36, 43]

### Tuples

Tuples are like lists, only that items are bound by `()`, and that unlike lists, tuples are immutable (tuple elements can't be changed).

In [24]:
annoying_list = ['Floch', 'Mahito', 'Pitou']
annoying_tuple = ('Floch', 'Mahito', 'Pitou')

In [25]:
# suppose I wanna swap Pitou for Shaiapouf
# I can do that for lists, but not for tuples
print(annoying_list)
annoying_list[2] = 'Shaiapouf'  # annoying_list[2] is Pitou, but I am overwriting
print(annoying_list)

['Floch', 'Mahito', 'Pitou']
['Floch', 'Mahito', 'Shaiapouf']

In [26]:
annoying_tuple[2] = 'Shaiapouf'  # this spits out an error

TypeError: 'tuple' object does not support item assignment

### Indexing and slicing

Sequence types can be indexed, that is, the $i$th element can be accessed. Indexing can be extended to include more than one item (basically a subset of the entire string/list/tuple) via slicing.

In [27]:
# indexing a string
word = 'supercalifragilisticexpialidocious'
print(word[0])
print(word[23])
print(word[12])

s
i
g

In [28]:
# indexing the last letter
print(word[-1])
# second to the last
print(word[-2])

s
u

In [29]:
# slicing a string
# take note of the syntax [:], to the left is the start, and to the right is the end, but excludes
print(word[0:5])  # first 5 letters, or 0, 1, 2, 3, 4, excluding 5

super

In [30]:
# other slicing examples

# slice which includes everything
print(word[:])

# slice at every third letter
# this requires the syntax[::]
print(word[::3])

# slice backwards
print(word[::-1])

# slice backwards from index 10 (11th letter) to index 2 (3rd letter)
print(word[10:1:-1])

supercalifragilisticexpialidocious
seafgiixadis
suoicodilaipxecitsiligarfilacrepus
rfilacrep

In [31]:
# the same principle applies to lists and tuples
print(single_word_albums[1:6])
print(single_word_albums[6::-1])

['Sunbather', 'Damnation', 'Agony', 'Quattro', 'Vagarosa']
['Unavailable', 'Vagarosa', 'Quattro', 'Agony', 'Damnation', 'Sunbather', 'Continuum']

### Sequence type length

In [32]:
print(len(word))
print(len(single_word_albums))
print(len(annoying_tuple))

34
11
3

### Booleans

Either `True` or `False` (note, these two values are written with the "" or '' of strings, because they are not!). These will be encountered when comparing values via operators (later) or when using conditions.

### Sets

Sets are a little like lists, although they are unordered and will not contain duplicates.

In [33]:
print(single_word_albums)

['Continuum', 'Sunbather', 'Damnation', 'Agony', 'Quattro', 'Vagarosa', 'Unavailable', 'Heritage', 'Scenery', 'Midian', 'Help!']

In [34]:
# the artists from the albums
artists = ['John Mayer', 'Deafheaven', 'Opeth', 'Fleshgod Apocalypse', 'Paris Match', 'Ceu', 'A Picture of Her', 'Opeth', 'Ryo Fukui', 'Cradle of Filth', 'The Beatles']
# yes, there are 2 Opeth albums here
# to demonstrate that sets eliminate redundancies

print(artists)
set_artists = set(artists)
print(set_artists)

['John Mayer', 'Deafheaven', 'Opeth', 'Fleshgod Apocalypse', 'Paris Match', 'Ceu', 'A Picture of Her', 'Opeth', 'Ryo Fukui', 'Cradle of Filth', 'The Beatles']
{'Opeth', 'Deafheaven', 'The Beatles', 'Paris Match', 'A Picture of Her', 'Fleshgod Apocalypse', 'Cradle of Filth', 'Ceu', 'Ryo Fukui', 'John Mayer'}

### Dictionary

A dictionary is an unordered collection, containing a key-value pair (bounded by `{}`).

In [35]:
hatsu = {
    'Hisoka Morow': 'Bungee Gum (Elastic Love)',
    'Chrollo Lucilfer': "Skill Hunter (Bandit's Secret)",
    'Biscuit Krueger': 'Magical Spa Services',
    'Kortopi': "Gallery Fake (Divine Left Hand, Demonic Right Hand)",
    'Isaac Netero': '100-Type Guanyin Bodhisattva',
    'Genthru': 'Little Flower'
}

print(hatsu)

{'Hisoka Morow': 'Bungee Gum (Elastic Love)', 'Chrollo Lucilfer': "Skill Hunter (Bandit's Secret)", 'Biscuit Krueger': 'Magical Spa Services', 'Kortopi': 'Gallery Fake (Divine Left Hand, Demonic Right Hand)', 'Isaac Netero': '100-Type Guanyin Bodhisattva', 'Genthru': 'Little Flower'}

<br><br>

## Operations

Python is a calculator!

### Numerics

In [36]:
1+1

2

In [37]:
# the usual arithmetic
print(2+2)
print(2-2)
print(2*2)
print(2/2)

4
0
4
1.0

In [38]:
# not so usual
# exponentiation
# 3 squared
3**2

9

In [39]:
# remainder
11 % 2

1

In [40]:
# floor division
# gets the whole number and rejects the remainder
11 // 2

5

In [41]:
# square root?
# remember, an nth root means raising a number to 1/n
9**(1/2)

3.0

### Sequence types

In [42]:
# string concatenation
'Nani' + '???'

'Nani???'

In [43]:
'Hello' + 'world!'

'Helloworld!'

In [44]:
# thus, either add a space or already incorporate the space
'Hello' + ' ' + 'world!'

'Hello world!'

In [45]:
'Hello' + ' world!'

'Hello world!'

In [46]:
# list concatenation
['Eren Yeager', 'Mikasa Ackerman', 'Armin Arlert'] + ['Erwin Smith', 'Levi Ackerman', 'Hange Zoe']

['Eren Yeager',
 'Mikasa Ackerman',
 'Armin Arlert',
 'Erwin Smith',
 'Levi Ackerman',
 'Hange Zoe']

### Other operators

In [47]:
# assignment
name = 'My name is...'
print(name)

My name is...

In [48]:
# simplified
x = 5
x = x + 5
print(x)
y = 5
y += 5  # instead of y = y + 5
print(y)

10
10

In [49]:
y -= 2
print(y)
x *= 2
print(x)
x /= 2
print(x)

8
20
10.0

### Comparison operators

Yields only True or False

In [50]:
print(3 == 2)  # == means is equal to (equality operator, double equal or ==, different from assignment operator, =)
print(3 != 2)  # != means not equal to
print(3 < 2)
print(3 <= 2)
print(3 > 2)
print(3 >= 2)

False
True
False
False
True
True

In [51]:
# comparison can be done on strings too!
print('Makima' == 'Makima')
print('Makima' == 'makima')  # case-sensitive, so take note!
print('Makima' == 'makima'.upper())
print('Makima' == 'makima'.title())
name = 'Makima'
print(name == 'Makima')  # comparison can be done on variables too!
print(name != 'Makima')
print(name == 'Makima ')  # take note of the extra space!

True
False
False
True
True
False
False

<br><br><br>

## Documentation

When confused with functions and the like, look up Python documentation online

<br><br><br>

-- End of lesson --